{% extends 'templates/app.twig' %}

{% block content %}
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-default">
				<div class="panel-heading">Get user list</div>
				<div class="panel-body">
					  <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Email</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for i in items %}
                            <tr>
                                <td>{{ i.id }}</td>
                                <td>{{ i.name }}</td>
                                <td>{{ i.email }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table> 				
				</div>
			</div>
		</div>
	</div>
	
{% endblock %}